{% extends 'main.html'%}
{% block content %}
	
	
	<div class="container-fluid">
		<h2 style="text-align:center;">Update your vocabulary</h2>
		<div class="row">

			<div class="col-md-6 offset-md-3">


				<form method="POST"  enctype='multipart/form-data' action="">
					{% csrf_token %}
					{{ form.as_p}}
					<br>
					<button class='btn' type="submit" role='button' style="background-color: green;">Update</button>
				</form>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</div>
	
{% endblock %}
