{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block title %}
		<title>Base</title>
	{% endblock %}
	<meta charset="UTF-8">
	  <meta name="description" content="Add your vocabulary that you think you don't want it to disappear later on.Perfect place to store your vocabulary.">
	  <meta name="keywords" content="enriching words and vocabulary,Vocabulary master">
	  <meta name="author" content="Tsering Tsenkyap Gurung">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'wordmeaning/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'wordmeaning/bulma.min.css' %}">

	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


            
</head>
<body>


	{% include 'includes/nav-bar.html'%}
	{% include 'includes/message_code.html'%}

	
	
	<div class="container">

		{% block content%}
		{% endblock %}
	</div>

	{% block home %}
	{% endblock %}
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  	crossorigin="anonymous"></script>

		<!-- Compiled and minified JavaScript -->
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<script type="text/javascript">

		  $(document).ready(function(){
		    $('.sidenav').sidenav();
		  });
		</script>
</body>
</html>
