{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'wordmeaning/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'wordmeaning/bulma.min.css' %}">

	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


            
</head>
<body>


	{% include 'includes/nav-bar.html'%}
	{% include 'includes/message_code.html'%}

	
	
	<div class="container">

		{% block content%}
		{% endblock %}
	</div>

	{% block home %}
	{% endblock %}



</body>
</html>
